.votes-block__title {
  justify-content: start;
  font-size: 48px;
  line-height: 1.6;
}
.votes-block__text {
  font-size: 16px;
}
/* #m1300 */
/* #m1200 */
/* #m1100 */
/* #m900 */
/* #m800 */
/* #m700 */
/* #m600 */
/* #m500 */
/* #m400 */
/* #m400 */
/* #m300 */
